<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <!-- <link href="https://github.com/richardtallent/vue-simple-calendar" rel="stylesheet"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      <v-content>
        <v-toolbar color="#62BD69">
           <a href="index.html"><v-toolbar-title>PlanT-It</v-toolbar-title></a>
           <v-img
            src="Flower-Pot-Vector.png"
            max-height="100px"
            max-width="100px"
           >
           </v-img>
           <v-spacer></v-spacer>
           <v-toolbar-items class="hidden-sm-and-down">
             <v-btn href="start_task.html" flat>Start To-Do</v-btn>
             <v-btn href="index.html" flat>Home</v-btn>
           </v-toolbar-items>
         </v-toolbar>
         <br>
        <v-layout align-space-between justify-space-around row wrap id="adding-place">
            <v-card :min-width=this.minWidth max-width="25%">
              <v-toolbar align="center" color="#91D196" @click="Expand()"><v-toolbar-title>Calendar</v-toolbar-title></v-toolbar>
              <br>
              <!-- <v-layout column align-center>
                    <v-flex sm1 sm10>
                      <v-select
                        v-model="type"
                        :items="typeOptions"
                        label="Type"
                      ></v-select>
                    </v-flex>
                    <v-layout wrap>
                    <v-flex
                      xs10
                      class="mb-3"
                    >
                      <v-sheet height="400">
                        <v-calendar
                          ref="calendar"
                          v-model="start"
                          :type="type"
                          :end="end"
                          color="primary"
                        ></v-calendar>
                      </v-sheet>
                    </v-flex>
                    <v-layout align-center>
                      <v-flex>
                        <v-btn @click="$refs.calendar.prev()">
                          <v-icon
                            dark
                            left
                          >
                            keyboard_arrow_left
                          </v-icon>
                          Prev
                        </v-btn>

                        <v-btn @click="$refs.calendar.next()">
                          Next
                          <v-icon right>
                            keyboard_arrow_right
                          </v-icon>
                        </v-btn>
                        <br>
                        <v-btn fab @click="$refs.calendar.next()" class="circle_button">
                          <v-icon large color="green">
                            add
                          </v-icon>
                        </v-btn>
                      </v-flex>
                    </v-layout>
                  </v-layout>
                </v-layout> -->
                <center>
                <v-date-picker v-model="selectedDate" color="#91D196" input="nothing" :event-color="functionEventColor" :events="arrayEvents" reactive></v-date-picker>
              </center>
            </v-card>

            <v-card :min-width=minWidth max-width="25%">
              <v-toolbar align="center" color="#91D196"><v-toolbar-title @click="Expand()">To-Do</v-toolbar-title>
                <v-flex offset-xs2>
                  <v-btn color="green" small @click="sort()">Sort by Date</v-btn>
                </v-flex>
              </v-toolbar>
              <br>

              <v-layout column>
                  <v-flex>
                    <v-card>
                      <v-list two-line>
                        <template v-for="(item, i) in items">
                          <v-divider
                            v-if="item.divider"
                            :key="i"
                          ></v-divider>
                          <v-list-tile
                            v-else
                            :key="item.title"
                            ripple
                          >

                            <v-list-tile-content>
                              <v-layout align-center row style="width:100%;">
                                <v-flex xs2>
                                  <v-icon :color="item.color">
                                      spa
                                  </v-icon>
                                </v-flex>
                                <v-flex>
                                  <a href="start_task.html">
                                    <v-list-tile-title v-html="item.title"></v-list-tile-title>
                                    <v-list-tile-sub-title v-html="item.subtitle"></v-list-tile-sub-title>
                                    <v-list-tile-sub-title v-html="item.date"></v-list-tile-sub-title>
                                  </a>
                                </v-flex>

                                <v-btn fab flat small @click="if (i === 0) {items.splice(i, 2);} else { items.splice(i - 1, 2); }">x</v-btn>

                              </v-layout>
                            </v-list-tile-content>

                          </v-list-tile>
                        </template>
                      </v-list>
                    </v-card>
                  </v-flex>

                  <v-card-actions>
                    <v-flex>
                      <v-btn fab @click="add_new" class="circle_button">
                        <v-icon large color="green">
                          add
                        </v-icon>
                      </v-btn>
                    </v-flex>
                  </v-card-actions>

                  <v-form
                      v-if=this.clicked
                      ref="form"
                      lazy-validation
                    >
                    <v-flex sm1 sm10 offset-xs1>
                      <v-text-field v-model="assignment" v-on:keyup.enter="validate()" label="Name"></v-text-field>

                      <v-text-field v-model="assignmentinfo" v-on:keyup.enter="validate()" label="Info" ></v-text-field>

                      <v-select
                        v-model="select"
                        :items="colors"
                        label="Colors"
                      ></v-select>

                      Due Date
                      <v-date-picker v-model="picker" reactive></v-date-picker>

                      <v-btn @click="validate()">
                        Enter
                      </v-btn>
                    </v-flex>

                    </v-form>
                </v-layout>
            </v-card>

            <v-card :min-width=minWidth max-width="25%">
              <v-toolbar align="center" color="#91D196" @click="Expand()"><v-toolbar-title>Reminders</v-toolbar-title></v-toolbar>
              <br>
                  <v-layout column>
                      <v-flex>
                        <v-card>
                          <v-list two-line>
                            <template v-for="(item, i) in itemsr">
                              <v-divider
                                v-if="item.divider"
                                :key="i"
                              ></v-divider>

                              <v-list-tile
                                v-else
                                :key="item.title"
                                xs12
                              >
                              <v-flex>
                                <v-list-tile-content >
                                  <v-list-tile-title v-html="item.title"></v-list-tile-title>
                                  <v-list-tile-sub-title v-html="item.subtitle"></v-list-tile-sub-title>
                                  <v-list-tile-sub-title v-html="item.subtitle2"></v-list-tile-sub-title>
                                </v-list-tile-content>
                              </v-flex>
                                <v-btn fab flat small @click="if (i === 0) {itemsr.splice(i, 2);} else { itemsr.splice(i - 1, 2); }">x</v-btn>

                              </v-list-tile>
                            </template>
                          </v-list>
                        </v-card>
                      </v-flex>


                      <v-card-actions>
                        <v-flex>
                          <v-btn fab @click="add_newr" class="circle_button">
                            <v-icon large color="green">
                              add
                            </v-icon>
                          </v-btn>
                        </v-flex>
                      </v-card-actions>

                    <v-form
                    v-if=this.clickedr
                    ref="form"
                    lazy-validation
                    >
                      <v-flex sm1 sm10 offset-xs1>
                        <v-text-field v-model="assignmentr" v-on:keyup.enter="validater()" label="Name" ></v-text-field>

                        <v-text-field v-model="assignmentinfor" v-on:keyup.enter="validater()" label="Info"></v-text-field>

                        Due Date
                        <v-date-picker v-model="pickerr" color="#91D196" reactive></v-date-picker>

                        <v-btn @click="validater()" >
                        Enter
                        </v-btn>
                      </v-flex>
                    </v-form>

              </v-layout>
            </v-card>
        </v-layout>
       </v-content>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
  <script>
    // import CalendarView from "vue-simple-calendar"

    Vue.use(Vuetify, {
      theme: {
        primary: '#6fd88d',
        secondary: '#83de9d',
        accent: '#abe8bd',
        error: '#b71c1c'
      }
    })

    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue!',
        event: {
          title: '',
          start: '',
          end: '',
          cssClass: '',
            data: {
              description: ''
            }
        },
        minWidth: "25%",
        assignment: '',
        assignmentinfo: '',
        assignmentdate: '',
        assignmentr: '',
        assignmentinfor: '',
        assignmentdater: '',
        clicked: false,
        clickedr: false,
        card_text: 'wow',
        selectedDate: '',
        type: 'day',
        start: '2019-01-01',
        end: '2020-01-06',
        typeOptions: [
          { text: 'Day', value: 'day' },
          { text: 'Week', value: 'week' }
        ],
        items: [
          {
            title: 'Assignment 1',
            subtitle: "EECS 330",
            color: "red",
            date: new Date("03/" + (new Date().getDate() + 8) + "/2019").toLocaleDateString("en-US")
          },
          { divider: true, inset: true },
          {
            title: 'Assignment 2',
            subtitle: "EECS 330",
            color: "blue",
            date: new Date().toLocaleDateString("en-US")
          },
          { divider: true, inset: true },
          {
            title: 'Assignment 3',
            subtitle: "EECS 330",
            color: "red",
            date: new Date("03/" + (new Date().getDate() + 10) + "/2019").toLocaleDateString("en-US")
          }
        ],
        itemsr: [
          {
            title: 'Exam 1',
            subtitle: "EECS 330",
            subtitle2: "March 3"
          },
          { divider: true, inset: true },
          {
            title: 'Midterm 2',
            subtitle: "EECS 330",
            subtitle2: "March 15"
          }
        ],
        select: '',
        colors: [
          "blue",
          "red",
          "green",
          "yellow",
          "pink",
          "purple",
          'light-grey'
        ],
        picker: '',
        pickerr: '',
        arrayEvents: [],
        arrayColor: []

      },
      mounted () {
        this.items.forEach((item) => {
          if (item.date) {
            this.arrayEvents.push(new Date(item.date).toISOString().substr(0, 10))
            if (item.color) {
                this.arrayColor.push(item.color)
            } else {
              this.arrayColor.push("green")
            }
          }
        })
        // this.arrayEvents = [...Array(6)].map(() => {
        //   const day = Math.floor(Math.random() * 30)
        //   const d = new Date()
        //   d.setDate(day)
        //   return d.toISOString().substr(0, 10)
        // })
      },
      methods: {
        functionEventColor (date) {
          var colors = []

          this.items.forEach((item) => {
            if (item.date) {

              if ((item.date[0].toString() === date[6].toString()) &&
                    (item.date.substring(2,4) === date.substring(8,10))) {
                colors.push(item.color)
              }
            }
          })
          return colors
        },
        sort() {
          var tempItems = []
          var tempOthers = []
          this.items.forEach(function(item) {
            if (item.date) {
              tempItems.push(item)
            }
            else if (item.title || item.subtitle || item.color) {
              tempOthers.push(item)
            }
          })
          tempItems.sort( function(a, b) { return new Date(a.date).getTime() - new Date(b.date).getTime() } )
          console.log(tempItems[0].title)

          var newitems = []
          tempItems.forEach(function(item, i) {
            newitems.push(item)
            if (!(tempOthers.length === 0 && i === tempItems.length - 1)) {
                newitems.push({ divider: true, inset: true })
            }

          })
          tempOthers.forEach(function(item, i) {
            newitems.push(item)
            if (i !== tempItems.length - 1) {
                newitems.push({ divider: true, inset: true })
            }
          })

          this.items = newitems
          // reload()

        },
        add_new() {
          this.clicked = !this.clicked
        },
        validate() {
          this.items.push(
            { divider: true, inset: true }
          )
          this.items.push(
            {
              title: this.assignment,
              subtitle: this.assignmentinfo,
              color: this.select,
              date: new Date(this.picker).toLocaleDateString("en-US")
            })
            this.assignment = ''
            this.assignmentinfo = ''

            this.clicked = false
            this.items.forEach((item) => {
              if (item.date) {
                this.arrayEvents.push(new Date(item.date).toISOString().substr(0, 10))
                if (item.color) {
                    this.arrayColor.push(item.color)
                } else {
                  this.arrayColor.push("green")
                }
              }
            })
            
            functionEventColor()
        },
        add_newr() {
          this.clickedr = !this.clickedr
        },
        validater() {
          this.itemsr.push({ divider: true, inset: true })
          this.itemsr.push(
            {
              title: this.assignmentr,
              subtitle: this.assignmentinfor,
              subtitle2: new Date(this.pickerr).toLocaleDateString("en-US")
            })
            this.assignmentr = ''
            this.assignmentinfor = ''
            this.assignmentdater = ''
          this.clickedr = false
        },
        Expand() {
          if (this.minWidth == "25%"){
            this.minWidth = "70%"
          } else {
            this.minWidth = "25%"
          }

        },
        remove() {
          this.items.remove(item)
        }
      }
    })
  </script>
  <style>
    a {
      text-decoration: none;
      color: black;
    }
    .circle_button {
      float: right;
    }
    v-toolbar-title{
      color: white;
    }
  </style>
</body>
</html>
