html, body{
	width:100%;
	height:100%;
	margin:0px;
	font-family: 'Work Sans', sans-serif;
}

body{
	justify-content:center;
	align-items:center;
	color: black;
}

.head-bar {
    overflow: hidden;
	background-color: #62BD69;
    color: black;
    height: 48px;
    font-size: 22px;
    padding-top: 13px;
    padding-left: 15px;
	text-align: left;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #62BD69;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.imgcontainer {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
	width:25%;
	min-height:25%;
    text-align: center;
}

img.avatar {
  width: 100px;
  border-radius: 50%;
  border: 2px solid grey;
}

.container {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
	width:25%;
	min-height:25%;
    width: 30%;
    padding: 16px;
}

.cactus-left{
    margin-top: 10px;
    margin-left: 70px;
}

.cactus-right{
    float: right;
    margin-top: 10px;
    margin-right: 70px;
}